.carousel{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
    font-size: 30px;
}
.button {
    background-color: transparent;
    border-color: transparent transparent transparent;
}

.carouselSlide{
    display: flex;
    width: 80%;
    /* max-height: 75vh; */
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/I2XXANNSMNHXFBVMDKGSYBOOCI.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    justify-content: space-around;
    flex-wrap: wrap;

    
}
.carouselTitle{
    justify-content: center;
    align-items: center;
    color: white;
}
.card{
    margin: 1rem;
}