.carousel{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
    font-size: 30px;
}
.button {
    background-color: transparent;
    border-color: transparent transparent transparent;
}

.carouselSlide{
    display: flex;
    width: 90%;
    height: 60vh;
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/I2XXANNSMNHXFBVMDKGSYBOOCI.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    justify-content: space-around;
    flex-wrap: wrap;

    
}
.carouselTitle{
    justify-content: center;
    align-items: center;
    color: white;
}
.roww {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
.column {
    flex: 35%;
    max-width: 35%;
    max-height: 35%;
    padding: 0 4px;
    margin: 4px;
  }
.photo{
    position: relative;
    display: inline-block;
    text-align: center;
}
.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
