.bannerHero{
    display: flex;
    margin: 2rem auto;
    max-width: 100vw;
    height: 60vh;
    background-image: url(./bannerHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.boxHeroContenedor{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.boxHero{
    flex-basis: 70%;
    align-self: center;
    color: #fff
}
h1{
    font-size: 60px;
}
.callToAction{
    align-items: center;
}